.navbar {
    height: 100px;
    width: 100%;
    background-color: white;
    background-image: linear-gradient(180deg, rgba(41, 34, 88, 1), #141414);
    display: flex;
    justify-content: flex-start;
    color: white;
    align-items: center;
    /* font-size: 20px; */
    font-weight: none;
    opacity: 90%;
    position: sticky;
    top: 0;
    margin-left: 0%;
}

.navbar1 {
    display: flex;
    width: fit-content;
    gap: 2.4rem;
    left: 2px;
    margin-left: 5rem;
}

.u {
    color: white;
    position: relative;
    outline: 3px;
    outline-offset: 10px;
    transition: 0.2s;
    cursor: pointer;
}

.u::after {
    content: "";
    background-color: #00a3ff;
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 0;
    transition: 0.25s;
}

.u:hover::after,
.u:focus::after {
    background-color: #00a3ff;
    width: 100%;
}

.websiteName {
    width: 50%;
    text-align: center;
    font-size: 30px;
    /* position: sticky; */
}

.nav-profile-s {
    width: cover;
    display: flex;
    gap: 2.4rem;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}