* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* position: static; */
}

body {
  background-color: #141414;
  color: white;
}

/* navigation bar */
.navbar {
  height: 100px;
  width: 100%;
  background-color: white;
  background-image: linear-gradient(180deg, rgba(41, 34, 88, 1), #141414);
  display: flex;
  justify-content: flex-start;
  color: white;
  align-items: center;
  /* font-size: 20px; */
  font-weight: none;
  opacity: 90%;
  position: sticky;
  top: 0;
  margin-left: 0%;
}

.navbar1 {
  display: flex;
  width: fit-content;
  gap: 2.4rem;
  left: 2px;
  margin-left: 5rem;
}

.u {
  color: white;
  position: relative;
  outline: 3px;
  outline-offset: 10px;
  transition: 0.2s;
  cursor: pointer;
}

.u::after {
  content: "";
  background-color: #00a3ff;
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 0;
  transition: 0.25s;
}

.u:hover::after,
.u:focus::after {
  background-color: #00a3ff;
  width: 100%;
}

.websiteName {
  width: 43%;
  text-align: center;
  font-size: 30px;
  /* position: sticky; */
}

.nav-profile-s {
  width: cover;
  display: flex;
  gap: 2.4rem;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}

/* .inputtt {
    width: 20%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
} */

/* choose the plan thats right for you */
.card-body {
  background-color: #1a1a1a;
  padding: 2rem;
  width: 413.33px;
  margin: 2rem;
  border-radius: 10px;
  height: 380px;
  align-content: center;
  justify-items: center;
  font-size: 20px;
  border: 1.85px solid #999999;
}

.card1-planname {
  font-weight: bold;
  color: #ffffff;
  font-size: 30px;
}

.card1-details {
  color: #999999;
  padding: 2rem;
  padding-left: 0;
  font-size: 22px;
  margin: 0;
}

.butt {
  display: flex;
  color: #ffffff;
  font-size: 20px;
}

.pr {
  font-weight: bold;
  color: #ffffff;
  font-size: 30px;
}

span {
  color: #999999;
  font-size: 22px;
}

/* faq */
.f {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  /* text-align: center; */
  margin-left: 10vh;
  row-gap: 2rem;
  column-gap: 10dvb;
}

.quess {
  margin-left: 2rem;
  display: flex;
  text-align: center;
  align-items: center;
  width: 620px;
  height: 20%;
}

.ans {
  margin-left: 5rem;
  width: 580px;

  color: #999999;
}

.numm {
  padding: 1% 2%;
  background-color: #1f1f1f;
  color: white;
  width: 7%;
  border-radius: 8px;
}

.ques {
  padding: 1rem;
  color: #ffffff;
  width: 90%;
  text-align: left;
}

.arrow {
  text-align: right;
  width: 3%;
  height: fit-content;
}

/* sign-up */
.titlee {
  /* text-align: center; */
  margin: 2rem;
  font-size: 30px;
  color: #ffffff;
}

/* .signnupform {
    margin: 2rem;
    font-size: 15px;
    background-color: #454C68;
    width: fit-content;
    height: auto;
    text-align: left;
    padding: 2rem;
    align-content: center;
    border-radius: 12px;
} */

.formmm input {
  border-radius: 7px;
  background-color: #303444;
  border: transparent;
  height: 30px;
  width: 70%;
  padding-left: 0.3rem;
  text-align: left;
}

.formmm {
  margin: 2rem;
  font-size: 15px;
  background-color: #454c68;
  width: 30%;
  height: auto;
  text-align: left;
  padding-left: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 12px;
}
